.image{
  height:60em; background-size:cover; width:100%;
  background-image:url("https://assets.simpleviewinc.com/simpleview/image/upload/crm/bryancollege/Taz-Egg-cf4743a85056a36_cf474555-5056-a36f-23aaccff479f4022.jpg");
  background-position:50% 50%;
}
